# Ignore directories
myproj/config/__pycache__/
myproj/config/__init__.py
myproj/apps/books/__pycache__/
myproj/apps/books/__init__.py

#myproj/myapp/static/images/


venv/

# Ignore files
requirements.txt
uwsgi.log
uwsgi.pid
